body {
    background-color: #FFD700;
    font-family: 'Poppins', sans-serif;
  }
  /* herunder styles de forskellige container, billede og tekst, med centering, bredde, højde, margin og padding*/
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 31.25rem;
    background-color: #FFC684;
    border-radius: 0.625rem;
    margin: 1.25rem;
    padding: 1.25rem;
    text-align: center;
  
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
    margin-bottom: 1.25rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
  }
  
  p {
    font-size: 0.7rem;
    line-height: 1.5;
    margin: 10px;
  }

  /*her under styles mine "book nu" knapper, med farve, badding, font størrelse */
  .button:hover {
    background-color: #fff;
  }

  .button {
    background-color: #FFE4C4;
    color: #000;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3125rem;
  }
  
  .button.large {
    padding: 0.9375rem 1.875rem;
    font-size: 1.25rem;
  }

  /* herunder styles mit layout på hjemmesiden, når bredden på skærmen ændres, ændres bredden på boxne*/

  @media (min-width: 768px) {
    .box {
      width: 33.33%;
    }
  }
  
  @media (min-width: 1024px) {
    .box {
      width: 25%;
    }
  }