body {
  background-color: #FFC684;
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

.info-box {
  background-color: #FFC684;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 3;
  border-radius: 10px;
  
}

.info-box h2 {
  font-size: 1.5rem;
  margin-top: 0;
  text-align: center;
}

.info-box p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  line-height: 3;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.box {
  background-color: #FFC684;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
}

.Meddelse-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.wide-box {
  width: 100%;
  background-color: #FFC684;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 30px;
}

/* her under bruger jeg media til, layoutet, når man er henholdsvis på en computerskærm og en mobilskærm*/

@media (min-width: 769px) {
 .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 768px) {
 .grid-container {
    grid-template-columns: 1fr;
  }
}