  body { /*her styles fonten og farven på body*/
    background-color: #FFC684;
    font-family: 'Poppins', sans-serif;
  }

  .logo { /* her styles højden og bredden på logoet*/
    width: 50px;
    height: auto;
  }
  .container { /*her styles min container på min forside, med postion*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered-text {
    margin: 0;
    font-size: 24px;
  }
  .link {
    display: inline-block;
    margin-left: 0.25em;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #0056b3;
  }