  body {
    background-color: #FFC684;
  }

  .logo {
    width: 50px;
    height: auto;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered-text {
    margin: 0;
    font-size: 24px;
  }
  .link {
    display: inline-block;
    margin-left: 0.25em;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #0056b3;
  }