.body{
    font-family: 'Poppins', sans-serif; /*ændre fonten til poppins*/
}

/*her under styles mine kasser, teksten i kasserne, højde, bredde, margin, padding, centering og position*/

.container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
    
}
.box {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 10px;
    
    
}
.info-box {
    background-color: #FFC684;
    height: auto;
  
    
}
.image-box {
    background-color: #FFC684;
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    overflow: hidden;
}
.image-box img {
    width: 100%;
    height: auto;
}

.info-box p {
   line-height: 4.49;
   text-align: center;
}

.info-box h1 {
    text-align: center;
}

.image-box .pil {
    position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
   
}

.image-box .daase{
    width: 100%;
    height: auto;
}

/* Her under styles, mine dots under øl dåsen, med centering, postion, margin, padding, og når man holder over en af prikkerne bliver farven mørkere*/

.dot-container {
    position: absolute;
    bottom: 10px; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  .dot-container {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

/* her under styles min hjemmeside, når max-bredden på skærmen er 768px, det styles med højde, bredde, margin og padding*/

@media only screen and (max-width: 768px) {
   
   .container {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
  
   .box {
      width: 90%;
      margin: 10px;
    }
  
    
   .image-box {
      width: 100%;
    }
  
   
   .image-box img {
      width: 100%;
      height: auto;
    }
  
   
   .dropdown_menu {
      display: none;
    }
  
    
   .toggle_btn {
      display: block;
    }
  }
  
  /*her styles hjemmesiden, mar max-bredden på skærmen er 480px*/

  @media only screen and (max-width: 480px) {
   
   .info-box p {
      font-size: 16px;
    }
  
   .info-box h1 {
      font-size: 24px;
    }
  }

